<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ruby 簡介</title>
	<style type="text/css">

* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}

h1 {color:blue; font-size:60px;}

h2 {color:#33ff33; font-size:40px;}

</style>
<script>

function change1() {

document.getElementById("pic").src = "static/mountain.jpg";

document.getElementById("h2text").innerText = "靜宜資管";

}

function change2() {

document.getElementById("pic").src = "static/cliff.jpg";

document.getElementById("h2text").innerText = "Rou-Han Chen";

}

</script>
</head>
<body>
	<table width="70%" border="1">
		<tr>
			<td>
				<img src="static/cliff.jpg" width="110%" id="pic"
onmouseover="change1()" onmouseout="change2()"></img>
			</td>
			<td>
    			<h1>陳柔涵</h1>
				<h2 id="h2text">Tzyy-Ching Yang</h2>
			</td>
		<tr>
	</table>

	
	<table width="70%" border="1">
		<tr>
			<td>
		個人網頁：<a href="file:///D:/aboutruby/aboutme.html">file:///D:/aboutruby/aboutme.html</a><br>
		FB：<a href="https://www.facebook.com/hanhan0601">https://www.facebook.com/hanhan0601</a><br>
		Tel:<a href="0911766679"> 0911766679</a><br>
		E-Mail: <a href="s1101728@gm.pu.edu.tw"> s1101728@gm.pu.edu.tw</a><br>
		</td>

		<td>
	Everything sucks<br>
	<audio controls>

	<source src="static/elephant.mp3" type="audio/mP3">

	</audio><br>
	</td>
	<td>

	不要去臺灣<br>

	<iframe src="https://www.youtube.com/embed/pW88QFpHXa8" allowfullscreen></iframe>
		</td>
	</tr>
</table>
	
	<?php echo date("Y-m-d") ?>
</body>
</html>